@model List<OldTimersSoccer.Models.Standing>
@{
    var currentDivision = ViewBag.Division as string ?? Model.Select(s => s.DivisionId).Distinct().FirstOrDefault();
}
<table class="table border-0" style="border-collapse: collapse;">
    <thead>
        <tr style="border-bottom: 2px solid #000000;">
            <th style="border: none;">Team</th>
            <th style="border: none;">GP</th>
            <th style="border: none;">W</th>
            <th style="border: none;">D</th>
            <th style="border: none;">L</th>
            <th style="border: none;">GF</th>
            <th style="border: none;">GA</th>
            <th style="border: none;">GD</th>
            <th style="border: none;">Pts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr data-division="@team.DivisionId" style="display: @(team.DivisionId == currentDivision ? "table-row" : "none")">
                <td style="border: none;">@team.TeamName</td>
                <td style="border: none;">@team.GamesPlayed</td>
                <td style="border: none;">@team.WinsTotal</td>
                <td style="border: none;">@team.DrawsTotal</td>
                <td style="border: none;">@team.LosesTotal</td>
                <td style="border: none;">@team.GoalsFor</td>
                <td style="border: none;">@team.GoalsAgainst</td>
                <td style="border: none;">@team.GoalsDiff</td>
                <td style="border: none;">@team.PointsTotal</td>
            </tr>
        }
    </tbody>
</table>