@model List<OldTimersSoccer.Models.Standing>
@{
    var currentDivision = ViewBag.Division as string;
}
<table class="table border-0 fs-5">
    <thead>
        <tr style="border-bottom: 2px solid #000;">
            <th>Team</th>
            <th>GP</th>
            <th class="d-none d-md-table-cell">W</th>
            <th class="d-none d-md-table-cell">D</th>
            <th class="d-none d-md-table-cell">L</th>
            <th class="d-none d-md-table-cell">GF</th>
            <th class="d-none d-md-table-cell">GA</th>
            <th>+/-</th>
            <th>Pts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Where(t => t.DivisionId == currentDivision))
        {
            <tr class="text-center">
                <td class="text-start">@team.TeamName</td>
                <td>@team.GamesPlayed</td>
                <td class="d-none d-md-table-cell">@team.WinsTotal</td>
                <td class="d-none d-md-table-cell">@team.DrawsTotal</td>
                <td class="d-none d-md-table-cell">@team.LosesTotal</td>
                <td class="d-none d-md-table-cell">@team.GoalsFor</td>
                <td class="d-none d-md-table-cell">@team.GoalsAgainst</td>
                <td>@team.GoalsDiff</td>
                <td>@team.PointsTotal</td>
            </tr>
        }
    </tbody>
</table>